body{
    background-image: url(https://www.xtrafondos.com/wallpapers/apple-pro-display-xdr-abstracto-3293.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 100vh;
    margin: 0; 
}